

.p3rcss{
	max-width: 900px; 
	position: absolute; 
	top: 209px;
}

.mercier-emp{
    height: 600px;
    margin-top: 300px;
}

.mMarginPaddingMercierS{
    padding-bottom: 150px !important;
    margin-top: 0px;
}

.mMarginPaddingMercier{
    margin-top: 0px;
}

/* Service.html */


.brand-img {
    filter: grayscale(0%);
    opacity: 1;
    max-height: 130px;
}

.brand-img:hover {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: 0.10s ease;
    max-height: 130px;
    object-fit: contain;
}

a.brook-btn.btn-sd-size, button.brook-btn.btn-sd-size {
    padding: 0 36px;
    height: 55px;
    line-height: 55px;
    font-size: 14px;
}

a.brook-btn.btn-rounded, button.brook-btn.btn-rounded {
    border-radius: 6px;
}

a.brook-btn.bk-btn-border-animate, button.brook-btn.bk-btn-border-animate {
    background: #fff;
    border: 2px solid #38a8dd;
    color: #38a8dd;
}

button.brook-btn.bk-btn-border-animate:hover{
    background: #38a8dd;
    border: 2px solid #38a8dd;
    color: #fff;
}

.colorBlueMercier{
    color: #ff5f9d;
    font-size: 17px;
    font-weight: bold;
}

.envMercier{
    text-align: left; padding: 50px 600px 50px 150px;
}

.pContentMercier{
    position: relative;
    z-index: 2;
    margin-left: 180px;
}

.textBlogDetail{
    position: relative;
    top: -402px;
    background: white;
    z-index: 99;
    padding: 100px;
}

.fontsh2About{
        font-size: 60px;
    }

    .fontpAbout{
        font-size: 1rem;
    }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.p3rcss{
		max-width: 900px; 
		position: absolute; 
		top: 21px;
        left: -164px;
	}

	.numbered-indicators {
	    position: absolute;
	    left: 33px;
        bottom: 31px;
        z-index: 10;
    }

    .circle-play-btn {
        position: relative;
	    left: 90%;
	    top: 8px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        border: none;
        cursor: pointer;
        position: relative;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
        position: relative;
        left: 90%;
        top: 8px;
    }

    .circle-play-btn::before {
        content: "";
        position: absolute;
        left: 17px;
        top: 15px;
        width: 0;
        height: 0;
        border-left: 20px solid #fc0079; /* Biru Bootstrap */
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .circle-play-btn:hover {
        background-color: #f0f0f0;
    }

    .brand-img{
        filter: grayscale(0%);
        opacity: 1;
    }

    .mercier-emp{
        height: 1060px;
        margin-top: 522px;
    }

    .navbar{
        background: #ff5f9d;
    }

    .navbar-dark {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .mMarginPaddingMercierS {
        padding-bottom: 150px !important;
        margin-top: 110px;
    }

    .mMarginPaddingMercier {
        margin-top: 110px;
    }

    .envMercier{
        text-align: left; padding: 0px 0px 0px 0px;
    }

    .pContentMercier{
        position: relative;
        z-index: 2;
        margin-left: 20px;
    }

    .marginTopMercier {
        
        margin-top: 0px;
    }

    .textBlogDetail{
        position: relative;
        top: -402px;
        background: white;
        z-index: 99;
        padding: 50px;
    }

    .fontsh2About{
        font-size: 12px;
    }

    .fontpAbout{
        font-size: 9px;
    }

    

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .textBlogDetail{
        position: relative;
        top: -402px;
        background: white;
        z-index: 99;
        padding: 50px;
    }

	.p3rcss{
		max-width: 900px; 
		position: absolute; 
		top: 45px;
        left: -145px;
	}

	.numbered-indicators {
	    position: absolute;
	    left: 50px;
	    bottom: 31px;
	    z-index: 10;
    }

    .circle-play-btn {
        position: relative;
        left: 10%;
        right: 45%;
        top: 285px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: white;
        border: none;
        cursor: pointer;
        position: relative;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
        position: relative;
        left: 90%;
        top: 8px;
    }

    .circle-play-btn::before {
        content: "";
        position: absolute;
        left: 32px;
        top: 30px;
        width: 0;
        height: 0;
        border-left: 40px solid #fc0079; /* Biru Bootstrap */
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    .circle-play-btn:hover {
        background-color: #f0f0f0;
    }

    .marginTopMercier {
        
        margin-top: 35px;
    }

    

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .marginTopMercier {
        margin-top: 0px;
    }

	.p3rcss{
		max-width: 900px; 
		position: absolute; 
		top: 209px;
	}

	.numbered-indicators {
	    position: absolute;
	    left: 50px;
	    bottom: 31px;
	    z-index: 10;
    }

    .circle-play-btn {
        position: relative;
        left: 10%;
        right: 45%;
        top: 285px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: white;
        border: none;
        cursor: pointer;
        position: relative;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
        position: relative;
        left: 90%;
        top: 8px;
    }

    .circle-play-btn::before {
        content: "";
        position: absolute;
        left: 32px;
        top: 30px;
        width: 0;
        height: 0;
        border-left: 40px solid #fc0079; /* Biru Bootstrap */
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    .circle-play-btn:hover {
        background-color: #f0f0f0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.p3rcss{
		max-width: 900px; 
		position: absolute; 
		top: 209px;
	}

	.numbered-indicators {
	    position: absolute;
	    left: 50px;
	    bottom: 31px;
	    z-index: 10;
    }

    .circle-play-btn {
        position: relative;
        left: 10%;
        right: 45%;
        top: 285px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: white;
        border: none;
        cursor: pointer;
        position: relative;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
        position: relative;
        left: 90%;
        top: 8px;
    }

    .circle-play-btn::before {
        content: "";
        position: absolute;
        left: 32px;
        top: 30px;
        width: 0;
        height: 0;
        border-left: 40px solid #fc0079; /* Biru Bootstrap */
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    .circle-play-btn:hover {
        background-color: #f0f0f0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.p3rcss{
		max-width: 900px; 
		position: absolute; 
		top: 209px;
	}

	.numbered-indicators {
        position: absolute;
        left: 200px;
        bottom: 305px;
        z-index: 10;
    }

    .circle-play-btn {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: white;
        border: none;
        cursor: pointer;
        position: relative;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
        position: relative; 
        left: 152%;
        top: 239px;
    }

    .circle-play-btn::before {
        content: "";
        position: absolute;
        left: 32px;
        top: 30px;
        width: 0;
        height: 0;
        border-left: 40px solid #fc0079; /* Biru Bootstrap */
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    .circle-play-btn:hover {
        background-color: #f0f0f0;
    }

    .carousel-caption h5 {
      
        padding-left: 333px
    }

    .carousel-caption h1 {
        
        padding-left: 333px;
        font-size: 60px;

    }
}